<ion-header>
  <ion-toolbar>
    @if (!showSearch()) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>
        <span class="title-container">
          <span class="title-text ion-hide-sm-down">
            {{ 'App.NavTitle' | translate }}
          </span>
        </span>
      </ion-title>
    }

    @if (showSearch() && !shouldCompareRulesInstead()) {
      <ion-searchbar
        color="primary"
        showCancelButton="true"
        [debounce]="300"
        (ionCancel)="setSearchValue(undefined)"
        (ionClear)="setSearchValue(undefined)"
        (ionInput)="setSearchValue($event.detail.value)"
        (ionChange)="setSearchValue($event.detail.value)"
        (keyup.esc)="setSearchValue(undefined)"
        [placeholder]="'App.SearchPlaceholder' | translate"
      ></ion-searchbar>
    }

    <ion-buttons slot="end">
      @if (!showSearch()) {
        <!-- options -->
        <ion-button (click)="displayOptions.present($event)">
          <ion-icon name="options"></ion-icon>
        </ion-button>

        <ion-popover #displayOptions>
          <ng-template>
            <ion-list class="dropdown-list">
              @let faqCount = rulesService.faq().length;
              @let errataCount = paramService.currentErrata().length;

              <ion-item class="toggle">
                <ion-checkbox
                  label-placement="end"
                  alignment="start"
                  [(ngModel)]="paramService.showRules"
                >
                  {{ 'App.Locale.ShowRules' | translate }}
                </ion-checkbox>
              </ion-item>

              <ion-item class="toggle">
                <ion-checkbox
                  label-placement="end"
                  alignment="start"
                  [(ngModel)]="paramService.showFAQ"
                >
                  {{ 'App.Locale.ShowFAQ' | translate }}
                  <span class="ion-hide-sm-down">({{ faqCount }})</span>
                </ion-checkbox>
              </ion-item>

              <ion-item class="toggle">
                <ion-checkbox
                  label-placement="end"
                  alignment="start"
                  [(ngModel)]="paramService.showErrata"
                >
                  {{ 'App.Locale.ShowErrata' | translate }}
                  <span class="ion-hide-sm-down">({{ errataCount }})</span>
                </ion-checkbox>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>

        <!-- language -->
        <ion-button (click)="languageSelect.open()">
          <ion-icon name="language"></ion-icon>
        </ion-button>

        <ion-select
          class="ion-hide"
          #languageSelect
          label="Select Language"
          placeholder="Select Language"
          (ionChange)="paramService.changeLanguage()"
          [(ngModel)]="paramService.currentLocale"
          [ngModelOptions]="{ standalone: true }"
        >
          @for (language of paramService.allLanguages(); track $index) {
            <ion-select-option [value]="language.code">
              {{ language.name }}
            </ion-select-option>
          }
        </ion-select>

        <!-- about -->
        <ion-button (click)="helpModal.present()">
          <ion-icon name="help-circle"></ion-icon>
        </ion-button>

        <ion-modal #helpModal>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>{{ 'App.About.ModalTitle' | translate }}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="helpModal.dismiss()">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <ion-list>
                <ion-item
                  target="_blank"
                  [href]="'mail:hello@buriedgiant.com'"
                >
                  <ion-icon slot="start" icon="mail" color="#000"></ion-icon>
                  {{ 'App.About.Support' | translate }}
                </ion-item>

                <ion-item
                  target="_blank"
                  [href]="'https://cards.buriedgiantstudios.com'"
                >
                  <ion-icon slot="start" icon="link" color="#000"></ion-icon>
                  {{ 'App.About.CardLibrary' | translate }}
                </ion-item>

                <ion-item
                  target="_blank"
                  [href]="'https://github.com/BuriedGiantStudios'"
                >
                  <ion-icon
                    slot="start"
                    icon="logo-github"
                    color="#000"
                  ></ion-icon>
                  {{ 'App.About.GitHub' | translate }}
                </ion-item>

                <ion-item
                  target="_blank"
                  [href]="
                    'https://discord.com/invite/UjACmFhyKw'
                  "
                >
                  <ion-icon
                    slot="start"
                    icon="logo-discord"
                    color="#000"
                  ></ion-icon>
                  {{ 'App.About.Discord' | translate }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      }

      @if (!shouldCompareRulesInstead()) {
        <ion-button
          (click)="toggleSearch()"
          [title]="'App.Titles.Search' | translate"
        >
          <ion-icon name="search"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding printable">
  @if (scrollBackTo(); as scrollBackTo) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="print-hide">
      <ion-fab-button
        size="small"
        color="primary"
        translucent="true"
        (click)="scrollToEl(scrollBackTo); resetScrollbackButton()"
      >
        <ion-icon name="return-up-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }

  <div id="top"></div>

  @if (shouldCompareRulesInstead()) {
    <app-compare-rules></app-compare-rules>
  } @else {
    <app-rules-display></app-rules-display>
  }
</ion-content>
