@let searchTerm = search();
@let indexesToRules = ruleIndexes();

@if (paramService.showRules()) {
  @for (rule of allRules(); track $index; let majorIndex = $index) {
    <div
      class="rule-container major"
      [style.border-color]="rule.color"
      [class.ion-hide]="!isVisible([majorIndex + 1])"
    >
      <!-- no text at this level -->

      <div class="rule major" [id]="indexesToRules[rule.index]">
        <span class="index-link" [id]="rule.index"></span>
        <span class="index major">{{ rule.indexDisplay }}</span>
        <a
          [innerHTML]="rule.formattedName | highlight: searchTerm : rule.index"
          [href]="'#' + indexesToRules[rule.index]"
        ></a>
      </div>

      <div
        class="pretext"
        [innerHTML]="rule.pretext | highlight: searchTerm : rule.index"
      ></div>

      <app-faq-display [index]="rule.index"></app-faq-display>

      <app-errata-display [index]="rule.index"></app-errata-display>

      @for (childRule of rule.children; track $index; let minorIndex = $index) {
        <div
          class="rule-container minor"
          [class.ion-hide]="!isVisible([majorIndex + 1, minorIndex + 1])"
        >
          <div class="rule minor" [id]="indexesToRules[childRule.index]">
            <span class="index-link" [id]="childRule.index"></span>
            <span class="index minor">{{ childRule.indexDisplay }}</span>
            <a
              [innerHTML]="
                childRule.formattedName
                  | highlight: searchTerm : childRule.index
              "
              [href]="'#' + indexesToRules[childRule.index]"
            ></a>

            @if (childRule.text) {
              <span
                class="text child"
                [innerHTML]="
                  childRule.text | highlight: searchTerm : childRule.index
                "
              ></span>
            }
          </div>

          <div
            class="pretext"
            [innerHTML]="
              childRule.pretext | highlight: searchTerm : childRule.index
            "
          ></div>

          <app-faq-display [index]="childRule.index"></app-faq-display>

          <app-errata-display [index]="childRule.index"></app-errata-display>

          @for (
            grandchildRule of childRule.children;
            track $index;
            let childIndex = $index
          ) {
            <div
              class="rule-container child"
              [class.ion-hide]="
                !isVisible([majorIndex + 1, minorIndex + 1, childIndex + 1])
              "
            >
              <div
                class="rule child"
                [id]="indexesToRules[grandchildRule.index]"
              >
                <span class="index-link" [id]="grandchildRule.index"></span>
                <span class="index child">
                  {{ grandchildRule.indexDisplay }}
                </span>
                <span class="desc child">
                  <a
                    class="name child"
                    [innerHTML]="
                      grandchildRule.formattedName
                        | highlight: searchTerm : grandchildRule.index
                    "
                    [href]="'#' + indexesToRules[grandchildRule.index]"
                  ></a>
                  <span
                    class="text child"
                    [innerHTML]="
                      grandchildRule.text
                        | highlight: searchTerm : grandchildRule.index
                    "
                  ></span>

                  <div
                    class="pretext"
                    [innerHTML]="
                      grandchildRule.pretext
                        | highlight: searchTerm : grandchildRule.index
                    "
                  ></div>

                  <app-faq-display
                    [index]="grandchildRule.index"
                  ></app-faq-display>

                  <app-errata-display
                    [index]="grandchildRule.index"
                  ></app-errata-display>

                  <!-- please never go deeper -->
                  @if (grandchildRule.children) {
                    <ol class="romanized-list list">
                      @for (
                        descRule of grandchildRule.children;
                        track $index;
                        let descIndex = $index
                      ) {
                        <li
                          [class.ion-hide]="
                            !isVisible([
                              majorIndex + 1,
                              minorIndex + 1,
                              childIndex + 1,
                              descIndex + 1,
                            ])
                          "
                        >
                          <a
                            class="name child"
                            [id]="indexesToRules[descRule.index]"
                            [innerHTML]="
                              descRule.formattedName
                                | highlight: searchTerm : descRule.index
                            "
                            [href]="'#' + indexesToRules[descRule.index]"
                          >
                            <span
                              class="index-link"
                              [id]="descRule.index"
                            ></span>
                          </a>

                          <span
                            class="text child"
                            [innerHTML]="
                              descRule.text
                                | highlight: searchTerm : descRule.index
                            "
                          ></span>

                          <div
                            class="pretext"
                            [innerHTML]="
                              descRule.pretext
                                | highlight: searchTerm : descRule.index
                            "
                          ></div>

                          <app-faq-display
                            [index]="descRule.index"
                          ></app-faq-display>

                          <app-errata-display
                            [index]="descRule.index"
                          ></app-errata-display>

                          <!-- I said please :( -->
                          @if (descRule.children) {
                            <ol class="alphabeta-list list sublist">
                              @for (
                                descDescRule of descRule.children;
                                track $index;
                                let descDescIndex = $index
                              ) {
                                <li
                                  [class.ion-hide]="
                                    !isVisible([
                                      majorIndex + 1,
                                      minorIndex + 1,
                                      childIndex + 1,
                                      descIndex + 1,
                                      descDescIndex + 1,
                                    ])
                                  "
                                >
                                  <a
                                    class="name child"
                                    [id]="indexesToRules[descDescRule.index]"
                                    [innerHTML]="
                                      descDescRule.formattedName
                                        | highlight
                                          : searchTerm
                                          : descDescRule.index
                                    "
                                    [href]="
                                      '#' + indexesToRules[descDescRule.index]
                                    "
                                  >
                                    <span
                                      class="index-link"
                                      [id]="descDescRule.index"
                                    ></span>
                                  </a>

                                  <span
                                    class="text child"
                                    [innerHTML]="
                                      descDescRule.text
                                        | highlight
                                          : searchTerm
                                          : descDescRule.index
                                    "
                                  ></span>

                                  <app-faq-display
                                    [index]="descDescRule.index"
                                  ></app-faq-display>

                                  <app-errata-display
                                    [index]="descDescRule.index"
                                  ></app-errata-display>
                                </li>
                              }
                            </ol>
                          }
                        </li>
                      }
                    </ol>
                  }
                </span>
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
} @else {
  @if (isDisplayingNothing()) {
    <div class="true-center">
      {{ 'App.NoItemsFound' | translate }}
    </div>
  } @else {
    @if(paramService.showFAQ()) {
      @for (rule of allRules(); track $index) {
        @if (hasFAQ(rule.index)) {
          <app-faq-errata-header-display
            [rule]="rule"
          ></app-faq-errata-header-display>
        }

        <app-faq-display [index]="rule.index"></app-faq-display>

        @for (childRule of rule.children; track $index) {
          @if (hasFAQ(childRule.index)) {
            <app-faq-errata-header-display
              [rule]="childRule"
            ></app-faq-errata-header-display>
          }

          <app-faq-display [index]="childRule.index"></app-faq-display>

          @for (grandchildRule of childRule.children; track $index) {
            @if (hasFAQ(grandchildRule.index)) {
              <app-faq-errata-header-display
                [rule]="grandchildRule"
              ></app-faq-errata-header-display>
            }

            <app-faq-display [index]="grandchildRule.index"></app-faq-display>

            @if (grandchildRule.children) {
              @for (descRule of grandchildRule.children; track $index) {
                @if (hasFAQ(descRule.index)) {
                  <app-faq-errata-header-display
                    [rule]="descRule"
                  ></app-faq-errata-header-display>
                }

                <app-faq-display [index]="descRule.index"></app-faq-display>

                @if (descRule.children) {
                  @for (descDescRule of descRule.children; track $index) {
                    @if (hasFAQ(descDescRule.index)) {
                      <app-faq-errata-header-display
                        [rule]="descDescRule"
                      ></app-faq-errata-header-display>
                    }
                    <app-faq-display
                      [index]="descDescRule.index"
                    ></app-faq-display>
                  }
                }
              }
            }
          }
        }
      }
    }

    @if(paramService.showErrata()) {
      @for (rule of allRules(); track $index) {
        @if (hasErrata(rule.index)) {
          <app-faq-errata-header-display
            [rule]="rule"
          ></app-faq-errata-header-display>
        }

        <app-errata-display [index]="rule.index"></app-errata-display>

        @for (childRule of rule.children; track $index) {
          @if (hasErrata(childRule.index)) {
            <app-faq-errata-header-display
              [rule]="childRule"
            ></app-faq-errata-header-display>
          }

          <app-errata-display [index]="childRule.index"></app-errata-display>

          @for (grandchildRule of childRule.children; track $index) {
            @if (hasErrata(grandchildRule.index)) {
              <app-faq-errata-header-display
                [rule]="grandchildRule"
              ></app-faq-errata-header-display>
            }
            <app-errata-display
              [index]="grandchildRule.index"
            ></app-errata-display>

            @if (grandchildRule.children) {
              @for (descRule of grandchildRule.children; track $index) {
                @if (hasErrata(descRule.index)) {
                  <app-faq-errata-header-display
                    [rule]="descRule"
                  ></app-faq-errata-header-display>
                }
                <app-errata-display [index]="descRule.index"></app-errata-display>

                @if (descRule.children) {
                  @for (descDescRule of descRule.children; track $index) {
                    @if (hasErrata(descDescRule.index)) {
                      <app-faq-errata-header-display
                        [rule]="descDescRule"
                      ></app-faq-errata-header-display>
                    }
                    <app-errata-display
                      [index]="descDescRule.index"
                    ></app-errata-display>
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
